@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Inter:wght@500&family=PT+Serif&family=Raleway:wght@300&family=Satisfy&family=Tajawal&display=swap');
*{
margin: opx;
padding: 0px;
font-family: PT Serif;
}